In [2]:
import pandas as pd

In [3]:
data = {
    'students': ['navneet','rohit'],
    'subject': ['python', 'html'],
    'marks':[89,90]
}

In [4]:
data2 = {
    'students' : ['human','unknown'],
    'subject': ['dont know','life and death'],
    'marks': [99, 100]
}

In [6]:
df1 = pd.DataFrame(data)

In [7]:
df2 = pd.DataFrame(data2)

In [8]:
pd.concat([df1,df2])

  students         subject  marks
0  navneet          python     89
1    rohit            html     90
0    human       dont know     99
1  unknown  life and death    100

In [10]:
data3 = pd.DataFrame({
    'students': ['navneet','rohit','aryan', 'Unknown'],
    'subject': ['python', 'html', 'ML', 'AI'],
    'marks':[89,90, 100, 100]
}) 

data4 = pd.DataFrame({
    'Roll': [101,102,103,104],
    'Ranks': [99,100,1,1]
})

result = data3.join(data4)

In [11]:
print(result)

  students subject  marks  Roll  Ranks
0  navneet  python     89   101     99
1    rohit    html     90   102    100
2    aryan      ML    100   103      1
3  Unknown      AI    100   104      1